<nav class="bg-gray-800 text-white p-4 flex justify-between items-center sticky top-0 z-50">
  <div class="text-xl font-bold">
    <a routerLink="/" class="hover:text-blue-400">TODO</a>
  </div>
  <ul class="flex gap-6">
    <li><a routerLink="/add-todo" class="hover:text-blue-400">Add ToDo</a></li>
    <li><a routerLink="/users" class="hover:text-blue-400">Users</a></li>
    <li>
      <a (click)="handleAuthAction()"  class="hover:text-blue-400 cursor-pointer">
        {{ isLoggedIn ? 'Logout' : 'Login' }}
      </a>
    </li>
  </ul>
</nav>
